/* =================================
searchBox styles
==================================== */
.search{
  width: 100%;
  margin-bottom: 1em;
  @include mq(medium){
    width: 70%;
    margin: em(32px) auto;
  }
  @include e(input){
    @extend %placeholder;
    @extend %input;
    color: $color-secondary;
    background-color: transparent;
    &:focus {
      outline: none;
      border-bottom: 2px solid $color-accent;
      color: $color-primary;
    }
    @include mq(medium){
      width: 70%;
    }
  }
  @include e(label){
    @include m(hidden){
      @extend %srt;
    }
  }
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  @extend %placeholder;
  color: $color-accent;
}
::-moz-placeholder { /* Firefox 19+ */
  @extend %placeholder;
  color: $color-accent;
}
:-ms-input-placeholder { /* IE 10+ */
  @extend %placeholder;
  color: $color-accent;
}
:-moz-placeholder { /* Firefox 18- */
  @extend %placeholder;
  color: $color-accent;
}
