/* =================================
Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}
body {
  font-family: $font-family--primary;
  line-height: $base__line;
  font-size: $base__font-size;
  color: $pickled-bluewood;
}
h1{
  line-height: 1em;
  margin-top: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  box-shadow: 0 5px 5px 1px $color-shadow;
}
body {
  background: url('../img/background.jpg') no-repeat center center fixed;
  background-size: cover;
}
